Repository dwongdev/mydia: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, cargo-fmt, cargo-clippy, dart-format, dart-analyze

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Elixir / Phoenix
      - id: mix-format
        name: mix format
        entry: mix format --check-formatted
        language: system
        files: '\.(?:ex|exs|heex)$'
        pass_filenames: false

      # Rust (native NIFs)
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --manifest-path native/mydia_p2p/Cargo.toml -- --check
        language: system
        files: '\.rs$'
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --manifest-path native/mydia_p2p/Cargo.toml -- -D warnings
        language: system
        files: '\.rs$'
        pass_filenames: false

      # Flutter / Dart
      - id: dart-format
        name: dart format
        entry: dart format --set-exit-if-changed --line-length 80
        language: system
        files: '\.dart$'
        exclude: '\.(?:g|freezed)\.dart$'

      - id: dart-analyze
        name: dart analyze
        entry: dart analyze --fatal-infos
        language: system
        files: '\.dart$'
        exclude: '\.(?:g|freezed)\.dart$'
        pass_filenames: false

feat(streaming): add streaming candidates API and P2P direct play
  lib/mydia/p2p/server.ex
  lib/mydia/streaming/candidates.ex
  lib/mydia_web/controllers/api/stream_controller.ex
  lib/mydia_web/schema.ex
  lib/mydia_web/schema/common_types.ex
  lib/mydia_web/schema/enum_types.ex
  lib/mydia_web/schema/query_types.ex
  lib/mydia_web/schema/resolvers/streaming_resolver.ex
  player/integration_test/README_STREAMING_TESTS.md
  player/integration_test/helpers/streaming_helpers.dart
  player/integration_test/p2p_streaming_test.dart
  player/lib/core/p2p/local_proxy_service.dart
  player/lib/graphql/queries/streaming_candidates.graphql
  player/lib/graphql/queries/streaming_candidates.graphql.dart
  player/lib/graphql/schema.graphql.dart
  player/lib/presentation/screens/player/player_screen.dart
  priv/graphql/schema.graphql
Due: mix-format, dart-format, dart-analyze

chore(player): remove unused Dart noise protocol and clean up imports
  player/integration_test/simple_test.dart
  player/lib/core/crypto/noise_ik.dart
  player/lib/core/crypto/noise_transport.dart
  player/lib/core/update/update_provider.dart
  player/lib/presentation/screens/downloads/series_downloads_screen.dart
  player/lib/presentation/screens/settings_screen.dart
  player/lib/vendor/noise_protocol_framework/cipher_state.dart
  player/lib/vendor/noise_protocol_framework/constants/noise_constants.dart
  player/lib/vendor/noise_protocol_framework/crypto/key_derivation.dart
  player/lib/vendor/noise_protocol_framework/extensions/ext_on_byte_list.dart
  player/lib/vendor/noise_protocol_framework/hash.dart
  player/lib/vendor/noise_protocol_framework/keypair.dart
  player/lib/vendor/noise_protocol_framework/message_buffer.dart
  player/lib/vendor/noise_protocol_framework/noise_protocol_framework.dart
  player/lib/vendor/noise_protocol_framework/protocols/handshake_state_interface.dart
  player/lib/vendor/noise_protocol_framework/protocols/ik/handshake_state.dart
  player/lib/vendor/noise_protocol_framework/symmetric_state.dart
Due: dart-format, dart-analyze

fix(web): handle library scan PubSub messages in AdminConfigLive
  .pre-commit-config.yaml
  lib/mydia_web/live/admin_config_live/index.ex
Due: mix-format

fix(streaming): handle session exit errors and improve HLS error logging
  lib/mydia/p2p/server.ex
  lib/mydia/streaming/hls_session.ex
Due: mix-format

fix(player): configure macOS keychain accessibility and entitlements
  player/analysis_options.yaml
  player/lib/core/auth/auth_storage_native.dart
  player/lib/core/settings/settings_service.dart
  player/lib/core/update/update_service.dart
  player/macos/Runner/DebugProfile.entitlements
  player/macos/Runner/Release.entitlements
Due: dart-format, dart-analyze

fix(player): guard native_assets install on Windows
  player/windows/CMakeLists.txt
Due: none

chore(p2p): upgrade iroh 0.96, rustler 0.37, and related dependencies
  native/mydia_p2p/Cargo.lock
  native/mydia_p2p/Cargo.toml
  native/mydia_p2p/src/lib.rs
  native/mydia_p2p_core/Cargo.lock
  native/mydia_p2p_core/Cargo.toml
  native/mydia_p2p_core/src/lib.rs
  player/rust/mydia_player_p2p/Cargo.lock
  player/rust/mydia_player_p2p/Cargo.toml
Due: cargo-fmt, cargo-clippy

feat(p2p): track and display peer connection type (direct/relay/mixed)
  lib/mydia/p2p.ex
  lib/mydia/p2p/server.ex
  lib/mydia_web/live/admin_config_live/remote_access_component.ex
  native/mydia_p2p/src/lib.rs
  native/mydia_p2p_core/src/lib.rs
  player/lib/core/p2p/p2p_service.dart
  player/rust/mydia_player_p2p/src/lib.rs
Due: mix-format, cargo-fmt, cargo-clippy, dart-format, dart-analyze

fix(streaming): cap P2P range requests and improve session tracking
  lib/mydia/streaming/hls_session_supervisor.ex
  lib/mydia_web/controllers/api/stream_controller.ex
  player/lib/core/p2p/local_proxy_service.dart
Due: mix-format, dart-format, dart-analyze

chore(dev): switch compose to host networking mode
  compose.yml
Due: none

feat(streaming): add bitrate caps, download routing, and DNS-over-HTTPS
  lib/mydia/p2p/server.ex
  lib/mydia/streaming/ffmpeg_hls_transcoder.ex
  lib/mydia/streaming/hls_session.ex
  lib/mydia/streaming/hls_session_supervisor.ex
  lib/mydia_web/schema/mutation_types.ex
  lib/mydia_web/schema/resolvers/streaming_resolver.ex
  native/mydia_p2p_core/Cargo.lock
  native/mydia_p2p_core/Cargo.toml
  native/mydia_p2p_core/src/lib.rs
  player/lib/graphql/mutations/start_streaming_session.graphql
  player/lib/graphql/mutations/start_streaming_session.graphql.dart
  player/rust/mydia_player_p2p/Cargo.toml
  player/rust/mydia_player_p2p/src/lib.rs
  priv/graphql/schema.graphql
Due: mix-format, cargo-fmt, cargo-clippy, dart-format, dart-analyze

refactor(p2p): replace blob downloads with streaming file transfers
  lib/mydia/p2p.ex
  lib/mydia/p2p/server.ex
  lib/mydia/remote_access/direct_urls.ex
  native/mydia_p2p/Cargo.lock
  native/mydia_p2p/Cargo.toml
  native/mydia_p2p/src/lib.rs
  native/mydia_p2p_core/Cargo.lock
  native/mydia_p2p_core/Cargo.toml
  native/mydia_p2p_core/src/lib.rs
Due: mix-format, cargo-fmt, cargo-clippy

refactor(player): unify download services and stream P2P responses
  player/lib/core/downloads/download_job_providers.dart
  player/lib/core/downloads/download_job_service.dart
  player/lib/core/downloads/download_providers.dart
  player/lib/core/downloads/download_service.dart
  player/lib/core/downloads/download_service_native.dart
  player/lib/core/downloads/download_service_stub.dart
  player/lib/core/downloads/download_service_web.dart
  player/lib/core/downloads/p2p_download_job_service.dart
  player/lib/core/p2p/local_proxy_service.dart
  player/lib/core/p2p/p2p_service.dart
  player/lib/native/frb_generated.dart
  player/lib/native/frb_generated.io.dart
  player/lib/native/frb_generated.web.dart
  player/lib/native/lib.dart
  player/lib/presentation/screens/episode/episode_detail_screen.dart
  player/lib/presentation/screens/movie/movie_detail_screen.dart
  player/lib/presentation/screens/settings_screen.dart
  player/lib/presentation/widgets/episode_card.dart
  player/pubspec.lock
  player/pubspec.yaml
  player/rust/mydia_player_p2p/Cargo.lock
  player/rust/mydia_player_p2p/Cargo.toml
  player/rust/mydia_player_p2p/src/frb_generated.rs
  player/rust/mydia_player_p2p/src/lib.rs
  player/test/core/downloads/download_job_service_test.dart
  player/test/core/downloads/p2p_download_job_service_test.dart
Due: cargo-fmt, cargo-clippy, dart-format, dart-analyze

fix(infra): update iroh-relay to use TCP passthrough and correct health checks
  infra/kubernetes/apps/iroh-relay/deployment.yaml
  infra/kubernetes/apps/iroh-relay/ingress.yaml
Due: none

fix(infra): rename relay to cae1-1.relay.mydia.dev and pin v0.96.1
  infra/kubernetes/apps/iroh-relay/configmap.yaml
  infra/kubernetes/apps/iroh-relay/deployment.yaml
  infra/kubernetes/apps/iroh-relay/dns.yaml
  infra/kubernetes/apps/iroh-relay/ingress.yaml
  infra/kubernetes/apps/iroh-relay/service.yaml
Due: none

feat(backend): filter browse/discovery by has_files and add P2P metrics
  lib/mydia/media.ex
  lib/mydia/p2p/server.ex
  lib/mydia_web/schema/resolvers/browse_resolver.ex
  lib/mydia_web/schema/resolvers/discovery_resolver.ex
  native/mydia_p2p/Cargo.lock
  native/mydia_p2p_core/Cargo.lock
  native/mydia_p2p_core/Cargo.toml
  native/mydia_p2p_core/src/lib.rs
Due: mix-format, cargo-fmt, cargo-clippy

feat(player): add download speed tracking and improve P2P UI
  player/lib/core/downloads/background_download_service.dart
  player/lib/core/downloads/download_providers.dart
  player/lib/core/downloads/download_service_native.dart
  player/lib/core/downloads/download_speed_tracker.dart
  player/lib/core/p2p/local_proxy_service.dart
  player/lib/core/p2p/p2p_service.dart
  player/lib/domain/models/download.dart
  player/lib/native/frb_generated.dart
  player/lib/native/frb_generated.io.dart
  player/lib/native/frb_generated.web.dart
  player/lib/native/lib.dart
  player/lib/presentation/screens/downloads/downloads_screen.dart
  player/lib/presentation/screens/downloads/series_downloads_screen.dart
  player/lib/presentation/screens/settings_screen.dart
  player/lib/presentation/widgets/connection_status_indicator.dart
  player/rust/mydia_player_p2p/Cargo.lock
  player/rust/mydia_player_p2p/src/frb_generated.rs
  player/rust/mydia_player_p2p/src/lib.rs
Due: cargo-fmt, cargo-clippy, dart-format, dart-analyze

feat(player): add P2P auto-reconnect and request retry with backoff
  player/lib/core/graphql/p2p_link.dart
  player/lib/core/p2p/p2p_service.dart
  player/lib/presentation/screens/home/home_controller.dart
Due: dart-format, dart-analyze

feat(player): show P2P connection type in status badges
  player/lib/presentation/widgets/app_shell.dart
  player/lib/presentation/widgets/connection_status_indicator.dart
Due: dart-format, dart-analyze

fix(player): correct download progress tracking and episode metadata
  player/lib/core/downloads/download_service_native.dart
  player/lib/presentation/screens/downloads/series_downloads_screen.dart
  player/lib/presentation/screens/show/show_detail_screen.dart
  player/lib/presentation/widgets/episode_card.dart
Due: dart-format, dart-analyze

fix(player): improve gesture controls and force landscape on mobile
  player/lib/presentation/screens/player/player_screen.dart
  player/lib/presentation/widgets/gesture_controls.dart
Due: dart-format, dart-analyze

style(player): update Android launcher icon and splash screen
  player/android/app/src/main/res/drawable-v21/launch_background.xml
  player/android/app/src/main/res/drawable/ic_adaptive_foreground.xml
  player/android/app/src/main/res/drawable/launch_background.xml
  player/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  player/android/app/src/main/res/values-night-v31/styles.xml
  player/android/app/src/main/res/values-v31/styles.xml
  player/android/app/src/main/res/values/colors.xml
Due: none

refactor(player): unify streaming paths and add audio/subtitle track switching
  player/lib/presentation/screens/player/player_screen.dart
  player/lib/presentation/widgets/track_settings_overlay.dart
  player/lib/presentation/widgets/video_controls/glassmorphic_video_controls.dart
Due: dart-format, dart-analyze

fix(player): update default relay URL in P2P status test
  player/test/core/p2p/p2p_status_test.dart
Due: dart-format, dart-analyze

refactor(player): replace glassmorphism with flat controls and inline track settings
  player/lib/presentation/screens/player/player_screen.dart
  player/lib/presentation/widgets/track_settings_overlay.dart
  player/lib/presentation/widgets/up_next_overlay.dart
  player/lib/presentation/widgets/video_controls/bottom_controls_bar.dart
  player/lib/presentation/widgets/video_controls/center_play_button.dart
  player/lib/presentation/widgets/video_controls/control_button.dart
  player/lib/presentation/widgets/video_controls/custom_video_controls.dart
  player/lib/presentation/widgets/video_controls/glass_container.dart
Due: dart-format, dart-analyze

style(player): replace control backgrounds with drop shadows and edge gradients
  player/lib/presentation/screens/player/player_screen.dart
  player/lib/presentation/widgets/gesture_controls.dart
  player/lib/presentation/widgets/video_controls/bottom_controls_bar.dart
  player/lib/presentation/widgets/video_controls/center_play_button.dart
  player/lib/presentation/widgets/video_controls/control_button.dart
  player/lib/presentation/widgets/video_controls/custom_video_controls.dart
  player/lib/presentation/widgets/video_controls/video_progress_bar.dart
Due: dart-format, dart-analyze

fix: guard against nil media file path in transcoding job display
  lib/mydia_web/live/admin_config_live/components.ex
Due: mix-format

fix(player): enable iOS builds by linking Network framework
  player/ios/Podfile.lock
  player/ios/fastlane/Appfile
  player/lib/graphql/mutations/start_streaming_session.graphql.dart
  player/lib/graphql/queries/streaming_candidates.graphql.dart
  player/lib/graphql/schema.graphql.dart
  player/rust_builder/ios/mydia_player_p2p.podspec
Due: dart-format, dart-analyze

fix(ci): configure manual code signing for iOS CI builds
  .github/workflows/release.yml
Due: none

fix(ci): configure iOS manual signing for CI builds
  .github/workflows/release.yml
  player/ios/Podfile.lock
  player/ios/fastlane/Appfile
  player/lib/graphql/mutations/start_streaming_session.graphql.dart
  player/lib/graphql/queries/streaming_candidates.graphql.dart
  player/lib/graphql/schema.graphql.dart
  player/rust_builder/ios/mydia_player_p2p.podspec
Due: dart-format, dart-analyze

fix(ci): correct Android keystore path in release workflow
  .github/workflows/release.yml
Due: none

fix(ci): move Gemfiles to platform root for Fastlane discovery
  player/android/Gemfile
  player/android/Gemfile.lock
  player/ios/Gemfile
  player/ios/Gemfile.lock
Due: none

fix(ci): use macos-26 runner for iOS builds
  .github/workflows/release.yml
Due: none

refactor: rename player app and artifacts to "Mydia Player"
  .github/workflows/ci-player.yml
  .github/workflows/release.yml
  player/android/app/src/main/AndroidManifest.xml
  player/ios/Runner/Info.plist
  player/ios/fastlane/Fastfile
  player/linux/CMakeLists.txt
  player/linux/runner/my_application.cc
  player/macos/Runner/Configs/AppInfo.xcconfig
  player/windows/CMakeLists.txt
  player/windows/installer.iss
Due: none

style(player): redesign theme with cinematic palette and floating play buttons
  player/lib/core/theme/app_theme.dart
  player/lib/core/theme/colors.dart
  player/lib/presentation/screens/episode/episode_detail_screen.dart
  player/lib/presentation/screens/home_screen.dart
  player/lib/presentation/screens/login_screen.dart
  player/lib/presentation/screens/movie/movie_detail_screen.dart
  player/lib/presentation/screens/show/show_detail_screen.dart
  player/lib/presentation/widgets/app_shell.dart
Due: dart-format, dart-analyze

fix(web): refactor trending detail modal to native dialog element
  lib/mydia_web/live/components/trending_detail_modal.ex
  lib/mydia_web/live/dashboard_live/index.html.heex
Due: mix-format

feat(player): add collections, favorites, unwatched screens and redesign navigation
  lib/mydia_web/schema.ex
  lib/mydia_web/schema/common_types.ex
  lib/mydia_web/schema/query_types.ex
  lib/mydia_web/schema/resolvers/collection_resolver.ex
  lib/mydia_web/schema/resolvers/discovery_resolver.ex
  player/lib/core/layout/breakpoints.dart
  player/lib/core/router/app_router.dart
  player/lib/domain/models/collection.dart
  player/lib/domain/models/home_data.dart
  player/lib/presentation/screens/collections/collection_detail_controller.dart
  player/lib/presentation/screens/collections/collection_detail_screen.dart
  player/lib/presentation/screens/collections/collections_controller.dart
  player/lib/presentation/screens/collections/collections_screen.dart
  player/lib/presentation/screens/favorites/favorites_controller.dart
  player/lib/presentation/screens/favorites/favorites_screen.dart
  player/lib/presentation/screens/home/home_controller.dart
  player/lib/presentation/screens/home_screen.dart
  player/lib/presentation/screens/library/library_screen.dart
  player/lib/presentation/screens/recently_added/recently_added_controller.dart
  player/lib/presentation/screens/recently_added/recently_added_screen.dart
  player/lib/presentation/screens/unwatched/unwatched_controller.dart
  player/lib/presentation/screens/unwatched/unwatched_screen.dart
  player/lib/presentation/widgets/app_shell.dart
  priv/graphql/schema.graphql
Due: mix-format, dart-format, dart-analyze

feat: add pre-transcode status to download options and admin UI
  lib/mydia/downloads.ex
  lib/mydia/downloads/download_service.ex
  lib/mydia_web/live/media_live/show.ex
  lib/mydia_web/live/media_live/show.html.heex
  lib/mydia_web/live/media_live/show/components.ex
  lib/mydia_web/live/media_live/show/loaders.ex
  player/lib/core/downloads/p2p_download_job_service.dart
  player/lib/domain/models/download_option.dart
  player/lib/graphql/mutations/download_options.graphql
  player/lib/graphql/mutations/download_options.graphql.dart
  player/lib/presentation/widgets/quality_download_dialog.dart
Due: mix-format, dart-format, dart-analyze

fix(player): move play buttons inline and implement fullscreen toggle
  player/lib/presentation/screens/episode/episode_detail_screen.dart
  player/lib/presentation/screens/movie/movie_detail_screen.dart
  player/lib/presentation/screens/player/player_screen.dart
  player/lib/presentation/screens/show/show_detail_screen.dart
  player/lib/presentation/widgets/video_controls/bottom_controls_bar.dart
  player/lib/presentation/widgets/video_controls/custom_video_controls.dart
Due: dart-format, dart-analyze

fix(player): add encryption compliance flag to skip App Store prompt
  player/ios/Runner/Info.plist
Due: none
